<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaidoh.mayuukhvarshney.textem">
<uses-permission android:name="android.permission.READ_SMS">
</uses-permission>
    <uses-permission android:name="android.permission.WRITE_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MessagesListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessagesDetailActivity"
            android:parentActivityName=".MessagesListActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaidoh.mayuukhvarshney.textem.MessagesListActivity" />
        </activity>
        <activity android:name=".ComposeMessageActivity"
            android:parentActivityName=".MessagesDetailActivity"
            >

        </activity>
        <receiver android:name=".IncomingMessage">
            <intent-filter>
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>

        </receiver>

    </application>

</manifest>
